<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to help make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <!-- custom font -->
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">

  <title>Quotes</title>




</head>
<body>
  <!-- bootstrap container -->
  <div class="container">
    <h1 style ="font-weight: 600" class="quote-style">Quotes</h1>
    <!-- Quote intake form -->
    <form id="create-quote">
      <div class="new-quote-form">
        <label>Enter Quote</label>
        <input type="text" name="phrase">
      </div>
      <div class="new-quote-form">
        <label>Enter Author</label>
        <input type="text" name="author">
      </div>
      <!-- <label>Enter Topic</label>
      <input type="text" name="topic"> -->
      <button type="submit" id="submit-button">Submit</button>
    </form>

    <!-- This is where the quote api is displayed -->
    <div id='quoteTarget'></div>





  </div>  <!-- bootstrap container close -->
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>


</html>
