

.childshow-content{
  display:none;
}

.icons{
  float:right;
  margin-top: -28px;
}

.new-quote-form{
  float:left;
  margin: 8px;
}

#submit-button{
  margin-top: 7px;
}

.quote-style{
  font-family: 'Libre Franklin', sans-serif;
  /*font-style: italic;*/
}

#quoteTarget{
  clear:both;
}

@font-face {font-family: 'CallunaSans-Regular';src: url('webfonts/334A29_0_0.eot');src: url('webfonts/334A29_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/334A29_0_0.woff2') format('woff2'),url('webfonts/334A29_0_0.woff') format('woff'),url('webfonts/334A29_0_0.ttf') format('truetype');}
