
header{
  /*background-color: #f8f9f9;*/
  background-color: lightblue;

}

h1 {
  max-width: 800px;
  margin-left:63px;
}

.childshow-content{
  display:none;
}

.icons{
  float:right;
  margin-top: -28px;
}

.new-quote-form{
  float:left;
  margin: 8px;
}

#submit-button{
  margin-top: 7px;
}

.quote-style{
  font-family: 'Libre Franklin', sans-serif;
  /*font-style: italic;*/
}

.author-style{
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
}

#quoteTarget{
  clear:both;
}

blockquote {
    color: rgba(0,0,0,0.6);
    padding-left: 1rem;
    border-left: 4px solid rgba(0,50,100,0.15);
    margin-left: auto;
    margin-right: auto;
}
